{{template "head" .}}
{{template "body" .}}
{{template "content" .}}

<figure>
    <img src="/img/gopherize-me-1.png" alt="Gopher"/>
</figure>

<section id="links">
    <h2>LINKS!</h2>
    <ol>
        <li><a href="/cookie-setup">Setup Google Sheets Cookie</a></li>
        <li><a href="/create-tab">Create data tab</a></li>
        <li><a href="/insertrows">Insert Rows</a></li>
    </ol>
    <ul>
        <li><a href="/getsheets">GET Sheets test (inutilisé)</a></li>
    </ul>
</section>

<section id="to-do-list">
    <h2>TODO!</h2>
    <ol>
        <li>Améliorer page Insert Rows</li>
        <li>Ajout onglet de paramétrage dans Gsheets.</li>
        <li>Voir utilité GET Sheets</li>
    </ol>
</section>

<section id="tools">
    <small>
        Built with
            • <a target="_blank" href="https://go.dev/">golang </a>
            • <a target="_blank" href="https://htmx.org/">htmx</a>
            • <a target="_blank" href="https://picocss.com/">picocss</a>
        <br>
        Gopher image from 
        <a target="_blank" href="https://gopherize.me/">gopherize.me</a>
        <br>
        <a target="_blank" href="https://github.com/BenjaminMary/gosheets/">Github</a>
    </small>
</section>
